.input-group {
  margin-bottom: 50px;
  margin-top: 20px;
}

.form-input {
  width: 300px;
  height: 3rem;
  font-size: 1.2em;
  box-sizing: border-box;
  padding-left: 10px;
  border: 0;
  vertical-align: top;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.form-input:focus, textarea:focus {
  outline: none;
}

.search-button {
  background: #76c8e9;
  color: white;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  width: 100px;
  height: 3rem;
  margin-left: 10px;
  font-size: 1.2em;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.search-button:hover {
  background: #5591a8;
  color: #d6d5d5;
}

.search-button:active {
  background: #2b4955;
  color: #7e7d7d;
}