.player-highlights {
  background: #f4eeec;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  overflow: hidden;
  position: relative;
}

.team-img {
  width: 400px;
  position: absolute;
  opacity: 0.1;
}

.player-name {
  font-size: 4.0em;
  margin-bottom: 30px;
  min-height: 64px;
  text-align: center;
}

.player-stat {
  font-size: 1.3em;
  margin: 10px 0 10px 0;
}

.label {
  color: #606784;
  font-size: 1.1em;
  margin: 0;
}

.player-results {
  position: relative;
}

.no-player-found-modal {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background: #d05555;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in-text {
  from { opacity: 0; }
  to { opacity: 1; }
}

.no-player-found-modal > p {
  font-size: 40px;
  animation: fade-in-text 2s;
}

.modal-hidden {
  display: none;
}