/* Component CSS              */
@import './playerstats.css';
@import './form.css';
@import './responsive.css';
/*                            */

@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
  width: 100%;
  height: 100%;
  background: #1F2430;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}